@import './JoinSlideAni.module.scss';
$check : '/assets/check.png';

.JoinPassword {
    
    animation: slideIn 500ms ease-in-out forwards;
}
.JoinPasswordSlide{
    animation: slideOut 500ms ease-in-out forwards;
}

.joinInput{
    box-sizing: border-box;
    width : 400px;
    font-size: 15px;
    padding : 15px;
    font-weight: bold;
    margin: 0px;
    &::placeholder {
        font-weight: lighter;
    }
}
.joinBtnDisabled {
    width: 400px;
    margin-top : 20px;
    height: 52px;
    background-color: #c4c4c4;
    color : white;
    font-weight: bold;
    border : none;
}

.passwordErrMsg { 
    margin: 0;
    padding: 5px;
    color: red;
}

.joinBtn {
    width: 400px;
    height: 52px;
    margin-top : 20px;
    background-color: black;
    color : white;
    font-weight: bold;
    &:hover {
        background-color: rgb(149, 147, 147);
        border : none;
    }
    &:active {
        background-color: red;
    }
}


.format{
    font-size: 14px;
    margin : 0px;
    padding: 8px;
    color: gray;
    .formatItem{

        &::after{
            content : "X";
            margin-right: 12px;
        }
    }
    .containItem {
        color: black;
        margin-right: 12px;
        &::after{
            content: "";
            background-image:url($check);
            background-size:18px 18px;
            width:20px;
            height:20px;
            display:inline-block;
            background-position: center bottom;
        }
    }
}