@import './JoinSlideAni.module.scss';
$bg-disabled-btn : #F9EFF9;
$bg-abled-btn : #AE3BB6;
$bg-hover-btn : #EBCEED;

.JoinDetail {
    animation: slideIn 500ms ease-in-out forwards;
}
.JoinDetailSlide{
    animation: slideOut 500ms ease-in-out forwards;
}

.joinLabel {
    font-size: 14px;
    padding: 2px;
}

.joinInput{
    box-sizing: border-box;
    width : 400px;
    font-size: 15px;
    padding : 15px;
    font-weight: bold;
    margin: 0px;
    &::placeholder {
        font-weight: lighter;
    }
}
.joinBtnDisabled {
    width: 400px;
    margin-top : 20px;
    height: 52px;
    background-color: #c4c4c4;
    color : $bg-disabled-btn;
    font-weight: bold;
    border : none;
}

.joinBtn {
    width: 400px;
    height: 52px;
    margin-top : 20px;
    background-color: $bg-abled-btn;
    color : white;
    border : none;
    font-weight: bold;
    &:hover {
        background-color: $bg-hover-btn;
        border : none;
    }
    &:active {
        background-color: $bg-abled-btn;
    }
}