@import './JoinSlideAni.module.scss';


.divBox {
    width : 400px;
    height : 400px;
    border : 1px solid black;
}

.joinTerms_slide {
    animation: slideOut 500ms ease-in-out   forwards;
}

.joinInput{
    box-sizing: border-box;
    width : 400px;
    font-size: 15px;
    padding : 15px;
    font-weight: bold;
    margin: 0px;
    &::placeholder {
        font-weight: lighter;
    }
}
.joinBtnDisabled {
    width: 400px;
    margin-top : 20px;
    height: 52px;
    background-color: #c4c4c4;
    color : white;
    font-weight: bold;
    border : none;
}

.joinBtn {
    width: 400px;
    height: 52px;
    margin-top : 20px;
    background-color: black;
    color : white;
    font-weight: bold;
    &:hover {
        background-color: rgb(149, 147, 147);
        border : none;
    }
    &:active {
        background-color: red;
    }
}