@keyframes slideOut {
    0% {
        margin-left: 0%;
         opacity: 1;
    }
    50%{
        margin-left: -25%; 
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}   

@keyframes slideIn {
    0% {
        margin-left: 50%; 
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    to{
        margin-left: 0%;
        opacity: 1;
    }
}
   
