
.footerContactContainer {
    margin: auto;
}
.footerContactImg {
    width : 15px;
    height: 15px;
    margin-right: 10px;
    -webkit-filter: opacity(.5) drop-shadow(0,0,0, white);
    filter: opacity(.5) drop-shadow(0 0 0 white);
}


.contactWrap {
    padding: 4px;
}