
.footer {
    width : 100vw;
    min-height: 150px;
    background-color: black;

}

.footerContent {
    display: flex;
    margin : 0 auto;
    width: 1000px;
    color: white;
    min-height: 150px;
    font-size: 12px;
    align-items: center;
}


