.replyInputContainer{
    width : 1000px;
    margin : 0 auto;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.replyTitle{
    margin : 0px 0px 0px 5px;
    font-size: 15px;
    font-weight: bold;
}
.replyForm{
    display: flex;
    margin-top : 10px;
    width : 100%;
    height: 100%;
    border : solid 1px rgba(128, 128, 128, 0.35);
    justify-content: center;
    flex-direction: column;
}
.replyUser{
    padding : 5px 0px 5px 10px;  
    font-size: 16px;
}
.replyInput{
    box-sizing: border-box;
    padding : 10px;
    width : 100%;
    border : none;
    height : 40px;
    resize: none;
    overflow: hidden;
}
.replyInput:focus{
    height : 95px;
    outline : none;
    overflow: hidden;
}
.replyPostBtn{
    width: 8%;
    padding : 10px 0px 10px 0px;
    border : none;
    background-color: transparent;
    color : rgba(128, 128, 128, 0.9);
}
