.searchPostContainer {
    margin : 0px auto;
    margin-bottom: 10px;
    width : 95%;
    border-top : 1px solid rgba(128,128,128,0.5)
}
.postInfo {
    padding: 5px 0px 0px 0px;
} 
.name {
    font-size: 15px;
 }
.date{
    margin-left: 20px;
    font-size : 13px;
}
.postTitle {
    font-size: 18px;
    padding: 5px 0px 5px 0px;
    .link {
        color : rgb(10, 10, 184);
        text-decoration: none;
    }
}
.postContent {
    padding: 5px 0px 5px 0px;
    font-size: 16px;
}
