.joinContainer {
    width : 1000px;
    margin: 120px auto;
}
.guideMsg {
    text-align: left;
}
.joinForm {
    width : 400px;
    margin : 0 auto;
    .joinMsg {
        text-align: center;
    }
} 

    
   

