
.beat {
    width : 200px;
    height : 200px;
}
.beat > img {
    animation-name: beat;
    animation-duration: 1s;
    margin-right: 40px;
}

@keyframes beat{
    from {
        transform : scale(2);
    }
    to {
        transform: scale(1);
    }
}