.posterContainer {
    width: 1000px;
    margin: 0px auto;
    box-sizing: border-box;
}
.posterHeader {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bolder;
}
.posterGridContainer{
    display: grid;
    grid-template-rows: repeat(2 , 250px);
    grid-template-columns: repeat(5 , 180px);
    grid-template-areas: 
    "First First ex ex ex"
    "First First ex ex ex";
    box-sizing: border-box;
    row-gap: 35px;
    column-gap: 25px;
    margin: 20px 0px 40px 0px;
}

.posterGridItemFirst {
    grid-area: First;
}

.posterUl {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

