.selectConcert {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border:  1px solid #dadde6;
    margin-bottom: 5px;
    

    .option {
        background-color: transparent;
    }
}
