.homeContainer {
    margin: 0 auto;
    width : 1000px;
    margin-top: 120px;
}
.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width : 30%;
    height: 480px;
    float: right;
}

.calendarContainer{
    display: flex;
    height: 550px;
    margin-bottom : 20px;
}

