.homeContainer {
    margin: 0 auto;
    width : 1000px;
}
.aside {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width : 30%;
    height: 560px;
    float: right;
}