.homeContainer {
    margin: 0 auto;
    width : 1000px;
}
.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width : 30%;
    height: 560px;
    float: right;
}

.footer {
    width : 100vw;
    background-color: black;
    height: 200px;
    color: white;
}