.postContainer {
    width: 1000px;
    margin : 140px auto;
}

.postHead{
    border-bottom: 1px solid rgba(128, 128, 128, 0.35);
    width: 100%;
}

.category {
    font-size : 13px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px 0px 5px 5px;
    
}

.profile {
    margin-top : 10px;
    display: flex;
    box-sizing: border-box;
    height: 60px;
    margin: 10px 5px 10px 0px;
    justify-content: flex-start;
    align-items: center;
}


.profileImg {
    border-radius: 50%;
    height : 55px;
    width : 55px;
    margin-left: 10px;
}

.writeInfo {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.writerName {
    font-size: larger;
    height : 30px;
    width: 200px;
}

.postTitle {
    font-size: 24px;
    font-weight : bold;
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin-left : 5px;
    font-family:Arial, Helvetica, sans-serif;
}

.createdDate {
    font-size: 10px;
    color: gray;
}



.postContent {
    width : 100%;
    padding : 30px 10px 30px 10px;
    font-family:Arial, Helvetica, sans-serif;
}



 