.hoverCalendarContainer {
    display: flex;
    margin-left : 20px;
    width: 300px;
    background-color: beige;
    justify-content: center;
}

.hoverCalendarImgFrame{
    border: 1px solid black;
    height: 350px;
    width: 90%;
    margin-top: 20px;
    text-align: center;
    line-height: 350px;
}