.boardContainer {
    margin : 20px  auto;
    width : 1000px; 
}

.boardName {
    font-weight: bold;
    font-size: 20px;
    padding : 10px 10px 10px 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
}

.writingBtn {
    position: fixed;
    height: 45px;
    width: 45px;
    right : 8%;
    bottom : 5%;
    border-radius: 50%;
    border : none;
    background : transparent;
    cursor: pointer;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.writingBtn > img {
    height : 25px;
    width : 25px;
}