.boardCategoryContainer {
    width:  1000px;
    font-weight: bold;
    font-size: 18px;
    padding : 10px 10px 10px 10px;
}

.categoryUl{
    display: flex;
    list-style: none;
    padding : 0px;
    margin : 0px;
}

.categoryLi{
    padding-right: 30px;

}
.selectedCategoryLi{
    padding-right: 30px;    

}
.categoryLink{
    text-decoration: none;
    color:rgba(128, 128, 128, 0.7);
}
.selectedCategoryLink{
    text-decoration: none;
    color:black;
}